# Silahkan ganti passwordnya
DATABASE_URL=postgresql://postgres:<yourPassword>@localhost:5432/finsight_db?schema=public

# Application
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
