# Silahkan ganti passwordnya
DATABASE_URL=postgresql://postgres:<yourPassword>@localhost:5432/finsight_db?schema=public

# Application
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=1h
JWT_REFRESH_EXPIRY=7d

# Session
SESSION_MAX_AGE=3600000
